* {
    color: white;
}

.movie-container {
    position:relative;
    top: -450px;
}

.movie-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border: 2px;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 25px;
}

/* Hide the scrollbar */
::-webkit-scrollbar {
    display: none;
}

.load-more-button {
    margin-top: 50px;
    padding: 10px;
    width: 10%;
    border-radius: 10px;
    background-color: black;
    color: darkgoldenrod;
}

.sort-dropdown {
    margin-top: 50px;
    padding: 10px;
    width: 10%;
    border-radius: 10px;
    background-color: black;
    color: darkgoldenrod;
}

.search-button {
    margin-top: 50px;
    padding: 6px;
    width: 7%;
    border-radius: 10px;
    background-color: black;
    color: darkgoldenrod;
}
