* {
    color: white;
}

.movie-container {
    /* position: absolute;
    top: 700px; */
}

.movie-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border: 2px;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 25px;
}

/* Hide the scrollbar */
::-webkit-scrollbar {
    display: none;
}
