.header {
    width: 100%;
    height: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    font-size: 14px;
    color: #e5e5e5;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.7) 10%, transparent);
    z-index: 1;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 50px;
}

.header-left ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.header-left ul li {
    cursor: pointer;
    font-size: medium;
    font-family: roboto;
}

.header-right {
    display: flex;
    gap: 20px;
    align-items: center
}

.header-profile {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position: relative;
}

.header .dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    width: max-content;
    background: #191919;
    padding: 16px 22px;
    border-radius: 12px;
    text-decoration: underline;
    z-index: 1;
    display: none
}

.golden-rod-text {
    color: darkgoldenrod;
}

.icons {
    width: 28px;
    cursor: pointer;
}

.app-logo {
    width: 200px;
}

.medium-text {
    font-size: medium;
}

.header-profile:hover .dropdown {
    display: block;
}
